configuration {
    modi: "drun,window,run";
    display-drun: "  Applications";
    display-window: "  Windows";
    display-run: "  Run";
    drun-display-format: "{name}";
    window-format: "{w} · {c} · {t}";
    matching: "fuzzy";
    sort: true;
    sorting-method: "fzf";
    case-sensitive: false;
    show-icons: true;
    icon-theme: "Papirus-Dark";
    dpi: 1;
    location: 0;
}

@theme "theme.rasi"
